$col1: #fafafa;
*{
    box-sizing: border-box;
    padding: 0; margin: 0;
    font-family: 'Rubis',sans-serif;
    background-color: rgb(51, 59, 63);
}

#title{
    border:4px groove rgba(92, 80, 57, 0.26);
    border-radius: 0 0 12px 12px;
    color: $col1;
    display: flex;
    align-items: center; justify-content: space-around;
    height:10vw; max-height:150px;
    width:80vw;
    margin:0 auto;
    img{
        display:inline-block;
        height:100%;
        max-height: 128px;
    }
}

#canvasCont{
    background-color: #fafafa00;
    position:absolute;
    width: 100vw;
    top:17vh;
    .canvasContInner{
        width:max-content;
        margin: auto;
        canvas{
            background-image: url('../images/background/Cloud1.png');
            background-blend-mode: color-burn;
            background-color: #31474b;
        }
        canvas:hover{
            background-color: #588188;
        }

        
    }
}
#textCont{
    padding-top:24px;
    margin: auto;
    display:flex;
    justify-content: space-between;
    max-width:1400px;
    width:90vw;
}
h2{
    font-size: 2em;
}
h3{
    font-size:1.5em;
}
h5{
    font-size:1.45em;
}
li{
    font-size:1.1em;
}